USE [SISTEMA_DOCENTES]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccionesDePersonal]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccionesDePersonal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
	[Cargo] [nvarchar](100) NOT NULL,
	[TipoCargo] [int] NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaFin] [datetime2](7) NULL,
	[DocumentoRuta] [nvarchar](max) NOT NULL,
	[CertificadoRuta] [nvarchar](max) NOT NULL,
	[ContenidoHash] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_AccionesDePersonal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccionesDePersonalPorSolicitud]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccionesDePersonalPorSolicitud](
	[SolicitudId] [uniqueidentifier] NOT NULL,
	[AccionDePersonalId] [int] NOT NULL,
 CONSTRAINT [PK_AccionesDePersonalPorSolicitud] PRIMARY KEY CLUSTERED 
(
	[SolicitudId] ASC,
	[AccionDePersonalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[DOI] [nvarchar](100) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Revista] [nvarchar](100) NOT NULL,
	[AnioPublicacion] [int] NOT NULL,
	[ArchivoRuta] [nvarchar](max) NOT NULL,
	[ContenidoHash] [nvarchar](64) NOT NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
	[UnidadVerificadora] [nvarchar](100) NOT NULL,
	[EsVerificado] [bit] NOT NULL,
	[FechaVerificacion] [datetime2](7) NULL,
	[ObservacionesVerificacion] [nvarchar](500) NULL,
	[EsIndexado] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IdiomaPublicacion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[DOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticulosPorSolicitud]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticulosPorSolicitud](
	[SolicitudId] [uniqueidentifier] NOT NULL,
	[ArticuloDOI] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ArticulosPorSolicitud] PRIMARY KEY CLUSTERED 
(
	[SolicitudId] ASC,
	[ArticuloDOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[Correo] [nvarchar](100) NOT NULL,
	[ClaveHash] [nvarchar](255) NOT NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
	[Rol] [nvarchar](max) NOT NULL,
	[CodigoRecuperacion] [nvarchar](10) NULL,
	[CodigoExpiracion] [datetime2](7) NULL,
 CONSTRAINT [PK_Cuentas] PRIMARY KEY CLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[OrganizacionId] [int] NOT NULL,
	[NumeroHoras] [int] NOT NULL,
	[FechaFinalizacion] [datetime2](7) NOT NULL,
	[CertificadoRuta] [nvarchar](max) NOT NULL,
	[ContenidoHash] [nvarchar](64) NOT NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
	[TipoCurso] [int] NOT NULL,
	[ImpartidoPorDocente] [bit] NOT NULL,
	[HorasImpartidas] [int] NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CursosPorSolicitud]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CursosPorSolicitud](
	[SolicitudId] [uniqueidentifier] NOT NULL,
	[CursoId] [int] NOT NULL,
 CONSTRAINT [PK_CursosPorSolicitud] PRIMARY KEY CLUSTERED 
(
	[SolicitudId] ASC,
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docentes]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docentes](
	[Cedula] [nvarchar](10) NOT NULL,
	[Nombre1] [nvarchar](50) NOT NULL,
	[Nombre2] [nvarchar](50) NULL,
	[Apellido1] [nvarchar](50) NOT NULL,
	[Apellido2] [nvarchar](50) NOT NULL,
	[RangoActualId] [int] NULL,
 CONSTRAINT [PK_Docentes] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluacionesDocentes]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluacionesDocentes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodoAcademico] [nvarchar](50) NOT NULL,
	[FechaEvaluacion] [datetime2](7) NOT NULL,
	[PuntajePorcentual] [decimal](5, 2) NOT NULL,
	[InformeRuta] [nvarchar](max) NOT NULL,
	[ContenidoHash] [nvarchar](64) NOT NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_EvaluacionesDocentes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluacionesPorSolicitud]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluacionesPorSolicitud](
	[SolicitudId] [uniqueidentifier] NOT NULL,
	[EvaluacionId] [int] NOT NULL,
 CONSTRAINT [PK_EvaluacionesPorSolicitud] PRIMARY KEY CLUSTERED 
(
	[SolicitudId] ASC,
	[EvaluacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExperienciasLaborales]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExperienciasLaborales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizacionId] [int] NOT NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
	[Cargo] [nvarchar](100) NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaFin] [datetime2](7) NULL,
	[CertificadoRuta] [nvarchar](max) NOT NULL,
	[ContenidoHash] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_ExperienciasLaborales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExperienciasPorSolicitud]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExperienciasPorSolicitud](
	[SolicitudId] [uniqueidentifier] NOT NULL,
	[ExperienciaId] [int] NOT NULL,
	[ExperienciaLaboralId] [int] NULL,
 CONSTRAINT [PK_ExperienciasPorSolicitud] PRIMARY KEY CLUSTERED 
(
	[SolicitudId] ASC,
	[ExperienciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investigaciones]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investigaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaFinalizacion] [datetime2](7) NOT NULL,
	[RolEnInvestigacion] [nvarchar](50) NOT NULL,
	[MesesDeInvestigacion] [int] NOT NULL,
	[InformeRuta] [nvarchar](max) NOT NULL,
	[ContenidoHash] [nvarchar](64) NOT NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
	[TipoProyecto] [int] NOT NULL,
	[MesesDeParticipacion] [int] NOT NULL,
	[UnidadVerificadora] [nvarchar](100) NOT NULL,
	[EsInternacional] [bit] NOT NULL,
 CONSTRAINT [PK_Investigaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvestigacionesPorSolicitud]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvestigacionesPorSolicitud](
	[SolicitudId] [uniqueidentifier] NOT NULL,
	[InvestigacionId] [int] NOT NULL,
 CONSTRAINT [PK_InvestigacionesPorSolicitud] PRIMARY KEY CLUSTERED 
(
	[SolicitudId] ASC,
	[InvestigacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizaciones]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[TipoOrganizacion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Organizaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rangos]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rangos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[ArticulosRequeridos] [int] NOT NULL,
	[AniosExperienciaRequeridos] [int] NOT NULL,
	[HorasCursoRequeridas] [int] NOT NULL,
	[MesesInvestigacionRequeridos] [int] NOT NULL,
	[TesisDirigidasRequeridas] [int] NOT NULL,
	[PuntajePromedioEvaluacionesRequerido] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_Rangos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudesAscenso]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudesAscenso](
	[Id] [uniqueidentifier] NOT NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
	[RangoActualId] [int] NULL,
	[RangoSolicitadoId] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaEnvio] [datetime2](7) NULL,
	[FechaResolucion] [datetime2](7) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[ObservacionesAdmin] [nvarchar](max) NULL,
	[FechaNotificacion] [datetime2](7) NULL,
	[AceptacionODemanda] [nvarchar](50) NULL,
	[FechaResolucionApelacion] [datetime2](7) NULL,
 CONSTRAINT [PK_SolicitudesAscenso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TesisDirigidas]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TesisDirigidas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
	[NivelAcademico] [int] NOT NULL,
	[TituloTesis] [nvarchar](200) NOT NULL,
	[Estado] [int] NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaFin] [datetime2](7) NULL,
	[Institucion] [nvarchar](100) NOT NULL,
	[CertificacionRuta] [nvarchar](max) NOT NULL,
	[ContenidoHash] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_TesisDirigidas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TesisPorSolicitud]    Script Date: 2/7/2025 1:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TesisPorSolicitud](
	[SolicitudId] [uniqueidentifier] NOT NULL,
	[TesisDirigidaId] [int] NOT NULL,
 CONSTRAINT [PK_TesisPorSolicitud] PRIMARY KEY CLUSTERED 
(
	[SolicitudId] ASC,
	[TesisDirigidaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Investigaciones] ADD  DEFAULT ((0)) FOR [EsInternacional]
GO
ALTER TABLE [dbo].[SolicitudesAscenso] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AccionesDePersonal]  WITH CHECK ADD  CONSTRAINT [FK_AccionesDePersonal_Docentes_DocenteCedula] FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[AccionesDePersonal] CHECK CONSTRAINT [FK_AccionesDePersonal_Docentes_DocenteCedula]
GO
ALTER TABLE [dbo].[AccionesDePersonalPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_AccionesDePersonalPorSolicitud_AccionesDePersonal_AccionDePersonalId] FOREIGN KEY([AccionDePersonalId])
REFERENCES [dbo].[AccionesDePersonal] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccionesDePersonalPorSolicitud] CHECK CONSTRAINT [FK_AccionesDePersonalPorSolicitud_AccionesDePersonal_AccionDePersonalId]
GO
ALTER TABLE [dbo].[AccionesDePersonalPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_AccionesDePersonalPorSolicitud_SolicitudesAscenso_SolicitudId] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesAscenso] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccionesDePersonalPorSolicitud] CHECK CONSTRAINT [FK_AccionesDePersonalPorSolicitud_SolicitudesAscenso_SolicitudId]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Docentes_DocenteCedula] FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Docentes_DocenteCedula]
GO
ALTER TABLE [dbo].[ArticulosPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_ArticulosPorSolicitud_Articulos_ArticuloDOI] FOREIGN KEY([ArticuloDOI])
REFERENCES [dbo].[Articulos] ([DOI])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArticulosPorSolicitud] CHECK CONSTRAINT [FK_ArticulosPorSolicitud_Articulos_ArticuloDOI]
GO
ALTER TABLE [dbo].[ArticulosPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_ArticulosPorSolicitud_SolicitudesAscenso_SolicitudId] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesAscenso] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArticulosPorSolicitud] CHECK CONSTRAINT [FK_ArticulosPorSolicitud_SolicitudesAscenso_SolicitudId]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [FK_Cuentas_Docentes_DocenteCedula] FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [FK_Cuentas_Docentes_DocenteCedula]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Docentes_DocenteCedula] FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Docentes_DocenteCedula]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Organizaciones_OrganizacionId] FOREIGN KEY([OrganizacionId])
REFERENCES [dbo].[Organizaciones] ([Id])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Organizaciones_OrganizacionId]
GO
ALTER TABLE [dbo].[CursosPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_CursosPorSolicitud_Cursos_CursoId] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Cursos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CursosPorSolicitud] CHECK CONSTRAINT [FK_CursosPorSolicitud_Cursos_CursoId]
GO
ALTER TABLE [dbo].[CursosPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_CursosPorSolicitud_SolicitudesAscenso_SolicitudId] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesAscenso] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CursosPorSolicitud] CHECK CONSTRAINT [FK_CursosPorSolicitud_SolicitudesAscenso_SolicitudId]
GO
ALTER TABLE [dbo].[Docentes]  WITH CHECK ADD  CONSTRAINT [FK_Docentes_Rangos_RangoActualId] FOREIGN KEY([RangoActualId])
REFERENCES [dbo].[Rangos] ([Id])
GO
ALTER TABLE [dbo].[Docentes] CHECK CONSTRAINT [FK_Docentes_Rangos_RangoActualId]
GO
ALTER TABLE [dbo].[EvaluacionesDocentes]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionesDocentes_Docentes_DocenteCedula] FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[EvaluacionesDocentes] CHECK CONSTRAINT [FK_EvaluacionesDocentes_Docentes_DocenteCedula]
GO
ALTER TABLE [dbo].[EvaluacionesPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionesPorSolicitud_EvaluacionesDocentes_EvaluacionId] FOREIGN KEY([EvaluacionId])
REFERENCES [dbo].[EvaluacionesDocentes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EvaluacionesPorSolicitud] CHECK CONSTRAINT [FK_EvaluacionesPorSolicitud_EvaluacionesDocentes_EvaluacionId]
GO
ALTER TABLE [dbo].[EvaluacionesPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionesPorSolicitud_SolicitudesAscenso_SolicitudId] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesAscenso] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EvaluacionesPorSolicitud] CHECK CONSTRAINT [FK_EvaluacionesPorSolicitud_SolicitudesAscenso_SolicitudId]
GO
ALTER TABLE [dbo].[ExperienciasLaborales]  WITH CHECK ADD  CONSTRAINT [FK_ExperienciasLaborales_Docentes_DocenteCedula] FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[ExperienciasLaborales] CHECK CONSTRAINT [FK_ExperienciasLaborales_Docentes_DocenteCedula]
GO
ALTER TABLE [dbo].[ExperienciasLaborales]  WITH CHECK ADD  CONSTRAINT [FK_ExperienciasLaborales_Organizaciones_OrganizacionId] FOREIGN KEY([OrganizacionId])
REFERENCES [dbo].[Organizaciones] ([Id])
GO
ALTER TABLE [dbo].[ExperienciasLaborales] CHECK CONSTRAINT [FK_ExperienciasLaborales_Organizaciones_OrganizacionId]
GO
ALTER TABLE [dbo].[ExperienciasPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_ExperienciasPorSolicitud_ExperienciasLaborales_ExperienciaId] FOREIGN KEY([ExperienciaId])
REFERENCES [dbo].[ExperienciasLaborales] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExperienciasPorSolicitud] CHECK CONSTRAINT [FK_ExperienciasPorSolicitud_ExperienciasLaborales_ExperienciaId]
GO
ALTER TABLE [dbo].[ExperienciasPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_ExperienciasPorSolicitud_ExperienciasLaborales_ExperienciaLaboralId] FOREIGN KEY([ExperienciaLaboralId])
REFERENCES [dbo].[ExperienciasLaborales] ([Id])
GO
ALTER TABLE [dbo].[ExperienciasPorSolicitud] CHECK CONSTRAINT [FK_ExperienciasPorSolicitud_ExperienciasLaborales_ExperienciaLaboralId]
GO
ALTER TABLE [dbo].[ExperienciasPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_ExperienciasPorSolicitud_SolicitudesAscenso_SolicitudId] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesAscenso] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExperienciasPorSolicitud] CHECK CONSTRAINT [FK_ExperienciasPorSolicitud_SolicitudesAscenso_SolicitudId]
GO
ALTER TABLE [dbo].[Investigaciones]  WITH CHECK ADD  CONSTRAINT [FK_Investigaciones_Docentes_DocenteCedula] FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[Investigaciones] CHECK CONSTRAINT [FK_Investigaciones_Docentes_DocenteCedula]
GO
ALTER TABLE [dbo].[InvestigacionesPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_InvestigacionesPorSolicitud_Investigaciones_InvestigacionId] FOREIGN KEY([InvestigacionId])
REFERENCES [dbo].[Investigaciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvestigacionesPorSolicitud] CHECK CONSTRAINT [FK_InvestigacionesPorSolicitud_Investigaciones_InvestigacionId]
GO
ALTER TABLE [dbo].[InvestigacionesPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_InvestigacionesPorSolicitud_SolicitudesAscenso_SolicitudId] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesAscenso] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvestigacionesPorSolicitud] CHECK CONSTRAINT [FK_InvestigacionesPorSolicitud_SolicitudesAscenso_SolicitudId]
GO
ALTER TABLE [dbo].[SolicitudesAscenso]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesAscenso_Docentes_DocenteCedula] FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[SolicitudesAscenso] CHECK CONSTRAINT [FK_SolicitudesAscenso_Docentes_DocenteCedula]
GO
ALTER TABLE [dbo].[SolicitudesAscenso]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesAscenso_Rangos_RangoActualId] FOREIGN KEY([RangoActualId])
REFERENCES [dbo].[Rangos] ([Id])
GO
ALTER TABLE [dbo].[SolicitudesAscenso] CHECK CONSTRAINT [FK_SolicitudesAscenso_Rangos_RangoActualId]
GO
ALTER TABLE [dbo].[SolicitudesAscenso]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesAscenso_Rangos_RangoSolicitadoId] FOREIGN KEY([RangoSolicitadoId])
REFERENCES [dbo].[Rangos] ([Id])
GO
ALTER TABLE [dbo].[SolicitudesAscenso] CHECK CONSTRAINT [FK_SolicitudesAscenso_Rangos_RangoSolicitadoId]
GO
ALTER TABLE [dbo].[TesisDirigidas]  WITH CHECK ADD  CONSTRAINT [FK_TesisDirigidas_Docentes_DocenteCedula] FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[TesisDirigidas] CHECK CONSTRAINT [FK_TesisDirigidas_Docentes_DocenteCedula]
GO
ALTER TABLE [dbo].[TesisPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_TesisPorSolicitud_SolicitudesAscenso_SolicitudId] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesAscenso] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TesisPorSolicitud] CHECK CONSTRAINT [FK_TesisPorSolicitud_SolicitudesAscenso_SolicitudId]
GO
ALTER TABLE [dbo].[TesisPorSolicitud]  WITH CHECK ADD  CONSTRAINT [FK_TesisPorSolicitud_TesisDirigidas_TesisDirigidaId] FOREIGN KEY([TesisDirigidaId])
REFERENCES [dbo].[TesisDirigidas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TesisPorSolicitud] CHECK CONSTRAINT [FK_TesisPorSolicitud_TesisDirigidas_TesisDirigidaId]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [CK_Cuentas_Rol] CHECK  (([Rol]='DOCENTE' OR [Rol]='ADMINISTRADOR'))
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [CK_Cuentas_Rol]
GO
ALTER TABLE [dbo].[SolicitudesAscenso]  WITH CHECK ADD  CONSTRAINT [CK_SolicitudesAscenso_Estado] CHECK  (([Estado]='Rechazada' OR [Estado]='Aprobada' OR [Estado]='En Revision' OR [Estado]='Enviada' OR [Estado]='Borrador'))
GO
ALTER TABLE [dbo].[SolicitudesAscenso] CHECK CONSTRAINT [CK_SolicitudesAscenso_Estado]
GO
