USE [master]
GO
/****** Object:  Database [SUT]    Script Date: 15/6/2025 18:28:29 ******/
CREATE DATABASE [SUT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SUT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SUT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SUT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SUT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SUT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SUT]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 15/6/2025 18:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[DOI] [nvarchar](100) NOT NULL,
	[Titulo] [nvarchar](200) NULL,
	[Revista] [nvarchar](100) NULL,
	[AnioPublicacion] [int] NULL,
	[ArchivoRuta] [nvarchar](max) NULL,
	[ContenidoHash] [nvarchar](64) NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 15/6/2025 18:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Organizacion] [nvarchar](100) NULL,
	[NumeroHoras] [int] NULL,
	[FechaFinalizacion] [datetime2](7) NULL,
	[CertificadoRuta] [nvarchar](max) NULL,
	[ContenidoHash] [nvarchar](64) NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docentes]    Script Date: 15/6/2025 18:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docentes](
	[Cedula] [nvarchar](10) NOT NULL,
	[NombreCompleto] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluaciones]    Script Date: 15/6/2025 18:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodoAcademico] [nvarchar](50) NULL,
	[FechaEvaluacion] [datetime2](7) NULL,
	[PuntajePorcentual] [decimal](5, 2) NULL,
	[InformeRuta] [nvarchar](max) NULL,
	[ContenidoHash] [nvarchar](64) NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experiencias]    Script Date: 15/6/2025 18:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experiencias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Organizacion] [nvarchar](100) NULL,
	[Cargo] [nvarchar](100) NULL,
	[FechaInicio] [datetime2](7) NULL,
	[FechaFin] [datetime2](7) NULL,
	[CertificadoRuta] [nvarchar](max) NULL,
	[ContenidoHash] [nvarchar](64) NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investigaciones]    Script Date: 15/6/2025 18:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investigaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NULL,
	[FechaInicio] [datetime2](7) NULL,
	[FechaFinalizacion] [datetime2](7) NULL,
	[RolEnInvestigacion] [nvarchar](50) NULL,
	[MesesDeInvestigacion] [int] NULL,
	[InformeRuta] [nvarchar](max) NULL,
	[ContenidoHash] [nvarchar](64) NULL,
	[DocenteCedula] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[Evaluaciones]  WITH CHECK ADD FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[Experiencias]  WITH CHECK ADD FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
ALTER TABLE [dbo].[Investigaciones]  WITH CHECK ADD FOREIGN KEY([DocenteCedula])
REFERENCES [dbo].[Docentes] ([Cedula])
GO
USE [master]
GO
